body{
    background-image: url(https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1057&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    background-color: white;
    width: 40%;
    margin: 20px;
    padding: 15px;
}

/* DIV */
#intro{
    background-color: whitesmoke;
}
.select{
    margin: 15px;
}
section {
    background-color: #fff;
}
#character{
    background-color: #fff;
}
#movie{
    background-color: #fff;
}
#planet{
    background-color: #fff;
}